sudo: required

rvm:
  - 2.2.1


before_install:
  - jdk_switcher use oraclejdk8
  - curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
  - sudo add-apt-repository ppa:cwchien/gradle -y
  - sudo apt-get update
  - sudo apt-get install -y --force-yes nodejs python-dev python-pip build-essential gradle ca-certificates curl php5-cli git php5-curl
  - sudo pip install --upgrade pip wheel --quiet
  - sudo npm install -g n
  - sudo n lts
  - ". $HOME/.nvm/nvm.sh"
  - nvm install stable
  - nvm use stable
  - curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer


install:
  - gem install json colorize parallel
  - git clone https://github.com/TwilioDevEd/twilio-api-faker.git
  - sudo cp twilio-api-faker/keystore/twilio_fake.pem /usr/local/share/ca-certificates/twilio_fake.crt
  - sudo update-ca-certificates


script:
  - cd twilio-api-faker
  - sudo gradle run </dev/null &>/dev/null &
  - cd ..
  - sleep 25
  - ruby tools/snippet-testing/snippet_tester.rb -i


env:
  global:
    - NODE_PATH=/usr/local/lib/node_modules
    - NODE_TLS_REJECT_UNAUTHORIZED=0
    - FAKE_CERT_PATH=~/build/TwilioDevEd/api-snippets/twilio-api-faker/keystore/twilio_fake.pem
    - GRADLE_OPTS="-Dorg.gradle.daemon=true"
    - BASH=/bin/bash
    - BASH_SOURCE=/usr/local/bin/virtualenvwrapper.sh
    - PARALLEL=2
  matrix:
    - SNIPPET_LANGUAGE=java6
    - SNIPPET_LANGUAGE=java7
    - SNIPPET_LANGUAGE=python
    - SNIPPET_LANGUAGE=ruby
    - SNIPPET_LANGUAGE=node
    - SNIPPET_LANGUAGE=php
    - SNIPPET_LANGUAGE=curl


matrix:
  include:
    - language: csharp
      mono: latest
      env: SNIPPET_LANGUAGE=csharp


addons:
  hosts:
    - api.twilio.com
    - taskrouter.twilio.com
    - pricing.twilio.com
    - lookups.twilio.com


notifications:
  slack:
    rooms:
      secure: Lbt/FIOBmBxqSH4aj4cctd+ygAWWN+IoEGRC1f7Wn1mgciSAWCGs6krUAqsxDCO+mU0bV0EdO2SNaB5vlmMCBA0tti6KYzR4M4OgkM/KwIUk1MBJcaD2gpMMbMK66xG74b5arPuO7GIWMjHgScKo04LGGeYOcw7RJZwB6CY+3eyFo4HLVkuWizNC2Qw2yq/2F///QywljWMbvJy1dUs0Ax3KG6NW8aRhj98TN/vnVAwC7BKCWYD0QQY+8qKf4Cbmt6W4riNufqm8ZQdLdgbRnLdKKxHUCEkARPzLvJhLrR4fB70hXI8iWcms0CcLPf2kjG8+iJso9MCai1SGdi4+duAoBUxHzCQTK2Q+8t7LKrfaOm9j0p46tk9VcI9GLUzVgE5XZpqssv+dqvf1tB/d+XTZu2M4I1fmZm0O7uo3XSWO25Vob6sqHKoRe1E0Ums4yCv5ZiMWuzvFan4CPIoC2Gxn1ZFWPU+//SDHolKIAG5j6bx9v+66UOv7EkBQVlW9CbZmK+12mRL0+gNxfWmFW23tgJhnuEYmJHqEGi3GWjzBY8YTQ5eiUJQXxV/NZknwAB4d/cHDEvbBlVrURqXG/E60ecKNw6QqTO8HMZXP8ROBPzKPSnwsY6TDPf1rrH3D9N4o9JyEhquuWG4NSovOcrzopgoNyfaEWbj0cLwxxs8=
    on_failure: always
    on_success: change


cache:
  apt: true
  pip: true
