sudo: required
language: csharp
mono:
- latest
before_install:
- jdk_switcher use oraclejdk8
- sudo apt-get install python-pip python2.7-dev build-essential
- sudo pip install --upgrade pip
- curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
- sudo apt-get install -y nodejs
- sudo apt-get install curl php5-cli git php5-curl
- curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin
  --filename=composer
- sudo add-apt-repository ppa:cwchien/gradle -y
- sudo apt-get update
- sudo apt-get install gradle
- sudo apt-get install ca-certificates
- wget https://dist.nuget.org/win-x86-commandline/v3.4.4/NuGet.exe
install:
- sudo pip install -U twilio
- gem install twilio-ruby
- gem install json
- gem install colorize
- sudo npm install -g twilio
- composer require twilio/sdk:4.\*
- sudo mono NuGet.exe install Twilio -Version 4.7.2 -OutputDirectory nuget
- sudo mono NuGet.exe install Twilio.Pricing -Version 1.1.0 -OutputDirectory nuget
- sudo mono NuGet.exe install Twilio.Lookups -Version 1.1.0 -OutputDirectory nuget
- sudo mono NuGet.exe install Twilio.IpMessaging -Version 1.2.0 -OutputDirectory nuget
- sudo mono NuGet.exe install Twilio.TaskRouter -Version 2.3.0 -OutputDirectory nuget
- sudo mono NuGet.exe install Twilio.Auth -Version 1.2.0 -OutputDirectory nuget
- git clone https://github.com/TwilioDevEd/twilio-api-faker.git
- sudo cp twilio-api-faker/keystore/twilio_fake.pem /usr/local/share/ca-certificates/twilio_fake.crt
- sudo update-ca-certificates
script:
- cd twilio-api-faker
- sudo gradle run </dev/null &>/dev/null &
- cd ..
- sleep 25
- ruby tools/snippet-testing/snippet_tester.rb
env:
  global:
  - NODE_PATH=/usr/lib/node_modules
  - NODE_TLS_REJECT_UNAUTHORIZED=0
  - FAKE_CERT_PATH=~/build/TwilioDevEd/api-snippets/twilio-api-faker/keystore/twilio_fake.pem
addons:
  hosts:
    - api.twilio.com
