sudo: required
language: csharp
mono:
- latest
before_install:
- jdk_switcher use oraclejdk8
- sudo apt-get install python-pip python2.7-dev build-essential
- sudo pip install --upgrade pip
- curl -sL https://deb.nodesource.com/setup | sudo bash -
- sudo apt-get install -y nodejs
- sudo apt-get install curl php5-cli git php5-curl
- curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin
  --filename=composer
- sudo add-apt-repository ppa:cwchien/gradle -y
- sudo apt-get update
- sudo apt-get install gradle
install:
- sudo pip install -U twilio
- gem install twilio-ruby
- gem install json
- gem install colorize
- sudo npm install -g twilio
- composer install
- nuget install Twilio -Version 4.7.1 -OutputDirectory nuget
- nuget install Twilio.Pricing -Version 1.1.0 -OutputDirectory nuget
- nuget install Twilio.Lookups -Version 1.1.0 -OutputDirectory nuget
- nuget install Twilio.IpMessaging -Version 1.2.0 -OutputDirectory nuget
script:
- ruby tools/snippet-testing/snippet_tester.rb
env:
  global:
  - NODE_PATH=/usr/lib/node_modules
  - secure: Odf9EvKRNWEmJtHNxmj7xNXoDgjH0xj7iYknr3V5m6i0TPE9UFBEXoy0vumeqzhmaQD66ZRobn8LEvu0jyXEQUvCRifDjC3FtDmo53WLp89GrEn28HphIEUahd02CQwelCmxKr3HmDP41O+DF2hEwAoc1Q1woOPMTGwuyPakOJzbFq8h67Hb7o3mzzR3om+FymTCDNxTevJHKQS5pFgGBXEXjIuTttd2WxJAcuBBvQ1WVXJFpV3Hi6BvV4W8e+Op8vHWbChl2FGGNQ5Td4NZDqqw27gmM5og7ldpfFTzzIAMfaayTHzU+/gUlINQuDvGffGZTL/M0csqpkXFcS8md+TlkqCaj41lw46vU1WZBxLs5rBI2RHI19uRAHU322xBQw92ReokaRyeic0GpObaTJIUYo6+lI0M/Q03dTGz+xE1w0bNDzYE4szjQoTQXxfS1p3pj/WemvEx6pAah+wB1ZV6UpvLrFNlfdTOMUStVMUvmFk9qVM6XqH0UfZo7AWU78X06F26BHScLqpEud+OivnzMB/7hZvagK6KJGpb/gZ/JitVm3eRDlIeqWJpMKYR8DbQRhrh6WY9VGDNTAQ8LaCBtSErDWMCVm/ewyBEfsn/yZXicBoH2w8v9VAU9SsZuq3bOZOY4rEq0TRLiciEAs7T4J6NZ/33Mux6FxEit0k=
  - secure: Lelsnul1zuU5hxTKZOsHSuk31tA5UoB+ToM6ETf9UKNa7m9AFF4HLLI5I+dcyjVkaZjHRrs28meX4ZbYQJqO+ORE8ucZxFvnYHcOZEJsV3r6uSzFPbBDXuyUEQs4/sy4/dkvghhao9ut6dXurPudsSnsrVccvNmA7UY/hnbFefE1kThRVZCmk4/0GYOE4hrj1ExXrVWuXMFtsx9JsBk9yWnyN30jHdP831MICRgAK8Aif7f2DDIThP7J8o791vlkhNo+1zNJe/JTb8wkqifrdxPLuzPyd/ZrTceon74BsS4Qz9LIx+Nfi9kn0Sv44GQqWZwPFOoLjVixcMHsiFXgz+UIZRrmGld01XCCaze2vsgjmf1ACYmRx9TxkZSSfyXJkayw/sbqhgQaaWSKNJg6d7G0/jwWI0uH2Tg5AoN0b1BFdqAeFrpcdkOThiv6qsAPD2ntTWn7tB+ns90PGDHGG3ZfSAJXHYfb+/k0uMm1j8Ioz8G07RmQqICdnU+wrqWZitLH1O0iOqUnOK52q5r9Tu78mmsEyyGg7SXT7te8Kl2K3A0xUY21SB4YQEQ54NznlgGHZMI5J3De6jVFKbSw0XeTeZ7depPR0VdlbSvQ4esy+O6bnbEW8M0PUfnVg0Om2FUsolrOwJhQOEl9Px51OuFiDKhN3FZcq74b0opTS8c=
